<h1>Translate to gibberish</h1>

<label for="translate_box">Phrase in english</label>
<input type="text" id="translate_box">
<input type="button" id="translate_submit" value="Submit">

<br/><br/>
<div id="results">
</div>
